//main-header

.main-header {
  background-color: $color_beige;
  display: flex;
  flex-direction: column;

  & .container {
    display: flex;
    justify-content: space-between;
    padding-top: 25px;
    padding-bottom: 18px;
    margin: 0;

    &:nth-child(2) {
      display: flex;
      justify-content: space-between;
      align-items: center;
      background-color: $color_sand;
      padding-top: 10px;
      width: 1920px;
      padding-bottom: 10px;
    }
  }
}

.main-header__wrapper-logo {
  display: flex;
  justify-content: space-between;
}

.main-header__innerwrapper-logo {
  max-width: 488px;
  padding-left: 85px;
  padding-top: 15px;
}

.main-header__title {
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 110%;
  color: $color_red;
  padding-bottom: 6px;
}

.main-header__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 18px;
  line-height: 100%;
}

.main-header__wrapper-link {
  display: flex;
  justify-content: space-between;
  text-align: center;
  padding-top: 10px;
}

.main-header__innerwrapper-link {
  display: flex;
  flex-direction: column;
  padding-right: 25px;
}



.main-header__link-tel {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  color: $color_main_text;
  padding-left: 27px;
  padding-top: 4px;
  position: relative;

  &:nth-child(1) {
    padding-bottom: 5px;

    &::before {
      content: url(../img/phone-call.svg);
      position: absolute;
      left: -2px;
    }
  }
}

.main-header__link-mail {
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 100%;
  padding-top: 22px;
  position: relative;
  padding-left: 5px;

  &::before {
    content: url(../img/mail.svg);
    position: absolute;
    left: 3px;
  }
}

.main-header__link-address {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  max-width: 310px;
  text-align: start;
  padding-top: 25px;
  padding-left: 50px;
  position: relative;

  &::before {
    content: url(../img/point-map.svg);
    position: absolute;
    left: 20px;
  }
}

.main-header__list {
  display: flex;
  justify-content: space-between;

  & .main-header__item a {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 100%;
    color: $color_white;
  }

  & li:not(:last-child) {
    padding-right: 48px;
  }

  & li:nth-child(1),
  li:nth-child(2),
  li:nth-child(5) {
    padding-right: 68px;
    position: relative;

    &::after {
      content: "";
      position: absolute;
      border: 5px solid transparent;
      border-top: 5px solid $color_white;
      right: 50px;
      top: 10px;
      cursor: pointer;
    }
  }
}

.main-header__input {
  width: 203px;
  padding-top: 10px;
  background-color: transparent;
  border: none;
  border-bottom: 1px solid $color_white;
  font-style: italic;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  color: $color_white;
  position: relative;

  &::placeholder {
    font-style: italic;
    font-weight: 400;
    font-size: 16px;
    line-height: 100%;
    color: $color_white;
  }
}

.main-header__label {
  position: relative;

  &::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-image: url(../img/loupe.svg);
    left: 350px;
    top: -7px;
  }
}

//hero-block



.main-btn {
  &.hero__form--btn {
    background-color: $color_brown;
  }
}

//services

.services {
  padding-bottom: 85px;
}

.services__slider-pagination {
  display: none;
}

.services__title {
  text-align: center;
  padding-top: 85px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  padding-bottom: 50px;
}

.services__slide-wrapper-title {
  width: 345px;
  height: 102px;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.services__slide-title {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: $color_red;
}

.services__slide {
  display: flex;
  flex-direction: column;
  text-align: center;
  max-width: 345px;
  max-height: 334px;
  box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.07);
  cursor: pointer;
  position: relative;

  & img {
    width: 345px;
    height: 251px;
  }

  & .services__slide-info {
    position: absolute;
    background-color: $color_slide_bg;
    opacity: 0;

    & p {
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 140%;
      padding: 32px 17px 130px 32px;
    }
  }

  &:hover {
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.2);

    & .services__slide-info {
      opacity: 0.9;
      transition: 0.9s;
    }
  }
}

.services__slider-wrapper {
  display: flex;

  flex-wrap: wrap;
  row-gap: 30px;
  align-items: center;
  justify-content: center;
}

//services-price

.services-price__wrapper-bg {
  background-color: $color_hero_bg;
}

.services-price__list {
  display: flex;
  justify-content: center;
  padding-top: 60px;
  padding-bottom: 75px;
}

.services-price__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  max-width: 297px;
}

.services-price__item-subtitle {
  text-align: center;
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 140%;
  padding-top: 25px;
}

.services-price__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  padding-bottom: 64px;
}

.main-btn.services-price-btn {
  background-color: $color_sand;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;

  &:nth-child(1) {
    margin-right: 50px;

    &::before {
      content: url(../img/presentation-icon.svg);
      padding-right: 10px;
    }
  }

  &:nth-child(2) {
    &::before {
      content: url(../img/money-icon.svg);
      padding-right: 10px;
    }
  }
}

//terms-prices

.terms-prices__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  padding-top: 85px;
  padding-bottom: 50px;
  max-width: 780px;
}

.terms-prices__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  max-width: 1345px;
  padding-bottom: 50px;

  & a {
    text-decoration: underline;
    color: $color_red;
  }
}

.terms-prices__list {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 85px;

  & .terms-prices__item {
    background-color: $color_hero_bg;
    width: 345px;
    height: 208px;
    box-shadow: 0px 4px 35px rgba(0, 0, 0, 0.07);
    padding: 32px 32px 24px 32px;

    & .terms-prices__item-title {
      font-style: normal;
      font-weight: 700;
      font-size: 14px;
      line-height: 140%;
      color: $color_red;
      max-width: 289px;
      letter-spacing: 0.03em;
      text-transform: uppercase;
      padding-bottom: 15px;
    }

    & .terms-prices__item-terms {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 24px;
      padding-bottom: 25px;

      & span {
        font-style: normal;
        font-weight: 700;
        font-size: 16px;
        line-height: 100%;
      }
    }
  }

  & .terms-prices__item-price {
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 100%;
    color: $color_red;
  }
}

//feedback

.feedback {
  & .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    padding-bottom: 85px;
  }
}

.feedback__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  padding-bottom: 25px;
}

.feedback__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  text-align: center;
  max-width: 631px;
  padding-bottom: 50px;
}

.feedback-form {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  & fieldset {
    display: flex;
    flex-direction: column;
    justify-content: center;

    & .feedback__name,
    .feedback__tel {
      width: 510px;
      height: 56px;
      border: 1px solid #f4e7d9;
      border-radius: 6px;
      padding-left: 20px;
      font-style: normal;
      font-weight: 300;
      font-size: 16px;
      line-height: 100%;
      color: $color_main_text;
      margin-bottom: 25px;
      @include fonts-main;

      &::placeholder {
        font-style: normal;
        font-weight: 300;
        font-size: 16px;
        line-height: 100%;
        color: $color_main_text;
      }
    }
  }
}

.feedback__message {
  resize: none;
  max-height: 162px;
  margin-bottom: 25px;
  padding-left: 20px;
  padding-top: 20px;
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 100%;
  @include fonts-main;
  border: 1px solid #f4e7d9;
  border-radius: 6px;

  &::placeholder {
    font-style: normal;
    font-weight: 300;
    font-size: 16px;
    line-height: 100%;
  }
}

.main-btn.feedback__btn {
  background-color: $color_red;
}

//family-history

.family-history {
  & .container {
    padding-bottom: 85px;
  }
}

.family-history__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  max-width: 1135px;
  padding-bottom: 50px;
}

.family-history__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  max-width: 1345px;

  &:nth-child(2) {
    padding-bottom: 15px;
  }
}

//research-stages

.research-stages {
  & .container {
    padding-bottom: 85px;
  }
}

.research-stages__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  padding-bottom: 50px;
  position: relative;
}

.research-stages__list {
  display: flex;
  justify-content: space-between;
  counter-reset: number 00;
}

.research-stages__item {
  max-width: 300px;
  position: relative;

  &:not(:last-child)::after {
    content: url(../img/Arrow1.svg);
    position: absolute;
    top: 130px;
    left: 310px;
  }

  & img {
    padding-bottom: 65px;
    position: relative;
  }

  & .research-stages__item-title {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;
    color: $color_red;

    letter-spacing: 0.03em;
    text-transform: uppercase;
    padding-bottom: 12px;
    counter-increment: number;

    &::before {
      content: counter(number);
      position: absolute;
      font-style: normal;
      font-weight: 700;
      font-size: 64px;
      line-height: 100%;
      color: transparent;
      top: 270px;
      -webkit-text-stroke: 1px $color_red;
      @include fonts-main;
    }
  }

  & .research-stages__item-subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 160%;
  }
}

//training

.training {
  & .container {
    padding-bottom: 85px;
  }
}

.training__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  padding-bottom: 50px;
}

.training__wrapper {
  display: flex;
  height: 397px;
  align-items: center;
  background-color: $color_hero_bg;
  justify-content: space-between;

  & img {
    width: 600px;
    height: 397px;
  }
}

.training__inner-wrapper {
  padding-left: 125px;
}

.training__subtitle {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 160%;
  max-width: 595px;
  padding-bottom: 32px;
}

.training__btn-wrapper {
  display: flex;
}

.main-btn.training__btn--class {
  margin-right: 15px;

  background-color: transparent;
  color: $color_brown;
  border: 1px solid $color_brown;
}

.main-btn.training__btn--get {
  background-color: $color_brown;
}

//portfolio

.portfolio {
  & .container {
    padding-bottom: 85px;
    position: relative;
  }
}

.portfolio__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  text-align: center;
  padding-bottom: 50px;
}

.portfolio__slider-wrapper {
  display: flex;
  justify-content: space-between;
}

.portfolio__slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.portfolio__slide-title {
  color: $color_red;
  font-style: normal;
  font-weight: 700;
  font-size: 14px;
  line-height: 100%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  padding-top: 25px;
}

.swiper-button-next.portfolio-button-next,
.swiper-button-prev.portfolio-button-prev {
  background-color: $color_sand;
  color: $color_white;
  padding: 23px;
}

.portfolio__slider {
  max-width: 1220px;
}

.portfolio-button-next {
  position: absolute;
  right: 270px;

  &::after {
    font-size: 16px;
  }
}

.portfolio-button-prev {
  position: absolute;
  left: 270px;

  &::after {
    font-size: 16px;
  }
}

//our-team

.our-team {
  & .container {
    padding-bottom: 85px;
  }
}

.our-team__title {
  padding-bottom: 50px;
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
}

.our-team__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-bottom: 50px;
}

.our-team__wrapper-cert {
  & .our-team__img-sert:not(:last-child) {
    padding-right: 25px;
  }
}

.our-team__wrapper-info {
  display: flex;
  justify-content: space-between;
  align-items: center;

  & .our-team__subtitle {
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 160%;
    max-width: 970px;
  }

  & .our-team__link {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 120%;
    color: $color_red;
    text-decoration: underline;
  }
}

//our-partners

.our-partners {
  & .container {
    padding-bottom: 85px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}

.our-partners__title {
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 110%;
  padding-bottom: 50px;
}

.our-partners__list {
  display: flex;
  justify-content: space-between;
  padding-bottom: 50px;

  & .our-partners__item {
    max-width: 345px;

    & img {
      width: 345px;
      height: 188px;
    }

    &:not(:last-child) {
      padding-right: 93px;
    }

    & p {
      font-style: normal;
      font-weight: 700;
      font-size: 16px;
      line-height: 140%;
      padding-top: 25px;
    }
  }
}

.our-partners__link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: $color_red;
  text-decoration: underline;
}

//main-footer

.main-footer {
  background-color: $color_beige;

  & .container {
    padding-top: 50px;
    padding-bottom: 50px;

    & .main-footer__wrapper {
      display: flex;
      justify-content: space-between;
    }
  }
}

.main-footer__title {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 100%;
  text-transform: uppercase;
  padding-bottom: 25px;
}
.main-footer__our-company {
  max-width: 230px;
}

.main-footer__our-company-list {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;

  max-height: 200px;
  width: 220px;
}

.main-footer__services-list {
  width: 600px;
}

.main-footer__item a {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  color: $color_footer_text;
}
.main-footer__item {
  max-width: 210px;
}

.main-footer__item:not(:last-child) {
  padding-bottom: 12px;
}

.main-footer__services-list {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-height: 200px;
  max-width: 585px;
}

.main-footer__contacts {
  display: flex;
  flex-direction: column;

  & .main-footer__link-mail {
    padding-bottom: 20px;
  }
  & .main-footer__link-tel {
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 100%;

    &:nth-child(3) {
      padding-bottom: 20px;
    }
  }
}

.main-footer__wrapper-social {
  display: flex;
  justify-content: space-between;
}

.main-footer__social-list {
  display: flex;

  & .main-footer__socia-item:not(:last-child) {
    padding-right: 36px;
  }

  & .main-footer__socia-item a {
    border: 1px solid #a99077;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.main-footer__wrapper-social {
  padding-top: 60px;
  display: flex;
  align-items: center;
}

.main-footer__link {
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 120%;
  color: $color_footer_text;
  text-decoration: underline;
}
