// Colors
$color_main_text: #424242;
$color_red: #913636;
$color_white: #ffffff;
$color_hero_bg: #fff9f2;
$color_sand: #b98b5f;
$color_beige: #f4e7d9;
$color_brown: #c89354;
$color_main_bg: #f8f0e9;
$color_slide_bg: #fff3e8;
$color_footer_text: #88735e;
$color_primary: #c89354;

// Viewports
